<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whiskey-API</title>
    <link rel="stylesheet" href="/static/skeleton/normalize.css" />
    <link rel="stylesheet" href="/static/skeleton/skeleton.css" />
</head>
    <body>
        <div class="container">
            <form action="/">
                <input style="height: 5vh;border-radius: 0px 0px 5px 5px" class="button-primary u-full-width"
                       type="submit"
                       value="HOMEPAGE" />
            </form>
            {% block content %}{% endblock %}
        </div>
    </body>
&nbsp
<div style="text-align: center;">A work by<br> Agnes Turko - i6240438, Robin Steinkühler - i6265070 and Alexander Wirths
- i6264519</div>
<div style="text-align: center;"><span style="color: #808080;">Maastricht University, Python and Web Design</span></div>
&nbsp
</html>